
 #intro {
/*background-image: url(../img/userx2.png);*/
background-image: linear-gradient(to right,#1C3763 0%,#BB3B56 100%),url('../img/userx2.png');
height: 100vh;
background-position: center;
background-blend-mode:overlay;
background-repeat: no-repeat;

}

 /* Height for devices larger than 576px */
 @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }

.navbar .nav-link {
color: #fff !important;
}

.start-for-free{
	margin-left: auto;
    border-radius: 22px;
    padding: 5px;
    width: 20%;
    text-align: center;
    border: 1px solid;
    top: 25px;
    position: relative;
}

p,a,.form-label,.btn-primary {
	color: #ffff;
  font-family: 'Open Sans';
  letter-spacing: 0.1rem;
}


.navbar{
  margin-top: -8px;
}

.navbar-brand{
  top: 25px;
  position: relative;
}

.signin{
  font-size: 40px;
}

.p-5{
  margin-top: -85px;
  padding: 0 !important;
}

.new-member{
  float: right;
  text-align: right;
  top: 25px;
  position: relative;
}

.link{
  text-decoration: underline;
}

.btn-primary{
  background-color: #1C3763 !important;
}

a:hover {
    color: #1C3763 !important;
}